.content-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-wrapper img:hover {
    cursor: pointer;
}

.image-wrapper {
    display: flex;
    align-items: center;
}

.image-wrapper span {
    font-size: 2rem;
}

.image-wrapper img {
    max-width: 96px;
    max-height: 96px;
    margin: 0 20px;
}