.item-card{
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.discordapp.com/attachments/1163639984927023165/1163649372827951104/sanpy_old_wooden_board_e427af9b-3ed6-41a1-9203-ef8e911104e6.png?ex=654057ee&is=652de2ee&hm=d21820cf408d93bb6303bc34bf4e9fa89e14c3c3068fb34286a8ab4099e37511&");
}
  .img{  
    max-width: 30%;
    padding-left:5%;
  }

  
  
