.login-container {
    margin: 0 15%;
}

.content-flex-column {
    display: flex;
    flex-direction: column;
}

.form-input-container input {
    max-width: 20%;
    height: 20px;
    margin: 15px 0;
}