.category-container {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 80%;
  gap: 2rem;
  /* limiting to 80% of the screenwidth to be more inline with the rest of the content on the page*/
  max-height: 5 * (
      /* Height of one row */
      /* Specify the height you want for each row */
    );
  overflow-y: auto;
  /* Enable vertical scrolling if more than 5 rows */
}

/* .item-card {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: left;
} */