.content-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 2% 5%;
}

.search-wrapper {
    display: flex;
    align-items: center;
    min-width: 25%;
}

.search-wrapper img {
    padding-right: 5%;
}

.search-wrapper img:hover {
    cursor: pointer;
}

.image-wrapper {
    display: flex;
    align-items: center;
    min-width: 33%;
}

.image-wrapper span {
    font-size: 2rem;
}

.image-wrapper img {
    max-width: 96px;
    max-height: 96px;
    margin: 0 20px;
}


.icons {
    max-width: 30px;
    max-height: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.line-break {
    width: 100%;
}

.category-list {
    width: 100%;
}

.categories {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    font-size: 1.5rem;
}

.categories li {
    cursor: pointer;
}

.slogan-text {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.2rem;
}