.content-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin: 2% 5%;
}

.search-wrapper {
    display: flex;
    align-items: center;
    min-width: 25%;
}

.search-wrapper img {
    padding-right: 5%;
}

.search-wrapper img:hover {
    cursor: pointer;
}

.image-wrapper {
    display: flex;
    align-items: center;
    min-width: 33%;
}

.image-wrapper span {
    font-size: 2rem;
}

.image-wrapper img {
    max-width: 96px;
    max-height: 96px;
    margin: 0 20px;
}

.icons-wrapper {
    display: inline-flex;
    align-items: center;
}

.icons {
    max-width: 30px;
    max-height: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.line-break {
    width: 100%;
}

.category-list { 
    width: 100%;
}

.category {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    font-size: 1.5rem; 
    display: flex;
    margin: '25px 0';
    font-size: '2rem';
    font-weight: 'bold';
    flex-direction: 'row';
}


.category-list {
    width: 100%;
}
  
.categories li {
    cursor: pointer;
}

.slogan-text {
    display: flex;
    margin-top: 25px;
    width: 100%;
    justify-content: center;
    font-size: 1.2rem;
}