.content-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 2% 5%;
}

.search-wrapper {
    display: flex;
    align-items: center;
    min-width: 25%;
}

.search-wrapper img {
    padding-right: 5%;
}

.search-wrapper img:hover {
    cursor: pointer;
}

.image-wrapper {
    display: flex;
    align-items: center;
    min-width: 33%;
}

.image-wrapper span {
    font-size: 2rem;
}

.image-wrapper img {
    max-width: 96px;
    max-height: 96px;
    margin: 0 20px;
}


.user-icons-wrapper img {
    max-width: 30px;
    max-height: 30px;
    margin: 0 10px;
    cursor: pointer;
}